<app-header></app-header>
<main>
  <div class="main-content">
    <div class="main-header">
      <div class="name-section">
        <span class="name-label">Automation name</span>
        <mat-form-field appearance="outline">
          <mat-label></mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="filters-section">
        <span class="filters-label">Filters</span>
        <button *ngIf="showPersonalApps" mat-flat-button color="primary" (click)="onPersonalAppsClick()">Personal Apps</button>
        <button *ngIf="!showPersonalApps" mat-stroked-button (click)="onPersonalAppsClick()">Personal Apps</button>

        <button *ngIf="showUniversalApps" mat-flat-button color="primary" (click)="onUniversalAppsClick()">Universal Apps</button>
        <button *ngIf="!showUniversalApps" mat-stroked-button (click)="onUniversalAppsClick()">Universal Apps</button>

        <button *ngIf="showFunctions" mat-flat-button color="primary" (click)="onFunctionsClick()">Functions</button>
        <button *ngIf="!showFunctions" mat-stroked-button (click)="onFunctionsClick()">Functions</button>

        <button *ngIf="showDataTransformations" mat-flat-button color="primary" (click)="onDataTransformationsClick()">Data-transformations</button>
        <button *ngIf="!showDataTransformations" mat-stroked-button (click)="onDataTransformationsClick()">Data-transformations</button>
      </div>
    </div>
    <personal-apps *ngIf="showPersonalApps"></personal-apps>
    <universal-apps *ngIf="showUniversalApps"></universal-apps>
    <functions *ngIf="showFunctions"></functions>
    <data-transformation *ngIf="showDataTransformations"></data-transformation>
  </div>
  <selected-dependencies></selected-dependencies>
</main>
<app-footer></app-footer>
