<app-header></app-header>
<main>
  <div class="main-content">
    <div class="main-header">
      <div class="name-section">
        <span class="name-label">Automation name</span>
        <mat-form-field appearance="outline">
          <mat-label></mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="filters-section">
        <span class="filters-label">Filters</span>
        <button mat-flat-button color="primary">Personal Apps</button>
        <button mat-flat-button color="primary">Universal Apps</button>
        <button mat-flat-button color="primary">Functions</button>
        <button mat-stroked-button>Data-transformations</button>
      </div>
    </div>
    <personal-apps></personal-apps>
    <functions></functions>
  </div>
  <selected-dependencies></selected-dependencies>
</main>
<app-footer></app-footer>
